# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
pids
*.pid
*.seed

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build
dist/
build/

# Optional npm cache
.npm

# Coverage
coverage/

# Misc
.cache/
public/uploads/
